In [1]:
import pandas as pd
import os
from sqlalchemy import create_engine, Column, Integer, String, Sequence, Float,PrimaryKeyConstraint, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship, backref
from sqlalchemy.sql import *
from datetime import datetime

## Extract
Data Source [<a href="https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce">E-Commerce Public Dataset</a>]

In [2]:
### make dataframe from folder .csv to df all df name same as file name

def build_df(path):
    for file in os.listdir(path):
        if file.endswith('.csv'):
            file_path = os.path.join(path, file)
            file_name = os.path.splitext(file)[0]
            globals()[file_name] = pd.read_csv(file_path)
    
    for var in globals():
        if isinstance(globals()[var], pd.DataFrame):
            print(var)

path = r'D:\practice\ecommers\dataset'
build_df(path)

customers_dataset
orders_dataset
order_items_dataset
order_payments_dataset
products_dataset
product_category_name_translation
sellers_dataset

## Transform

In [3]:
def check_data(df, nama_df):
    print(f'{nama_df} information:')
    print('-' * 20)
    print(df.info())
    print('\nMissing values:')
    print(df.isna().sum())
    print('\nDuplicated rows:')
    print(df.duplicated().sum())
    print('\nFirst 2 rows:')
    print(df.head(2))
    print('\n')

In [4]:
def transform_datetime(df, columns):
    for column in columns:
        df[column] = pd.to_datetime(df[column], errors='coerce')
    return df

In [5]:
def transform_string(df, columns):
    for column in columns:
        df[column] = df[column].apply(lambda x: x.replace('_',' ').title() if isinstance(x, str) else x)
    return df

In [6]:
def move_column(df, columns, n):
    df_temp = df.drop(columns=columns)    
    for col in reversed(columns):
        df_temp.insert(n, col, df[col])
    
    return df_temp

### Customers

In [7]:
check_data(customers_dataset, "customers data")

customers data information:
--------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
None

Missing values:
customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

Duplicated rows:
0

First 2 rows:
                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP

- customers dataset = customer_city capitalized first letter

In [8]:
columns = ['customer_city']
customers_df = transform_string(customers_dataset, columns)
customers_df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,Franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,Sao Bernardo Do Campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,Sao Paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,Mogi Das Cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,Campinas,SP

In [9]:
customers_df.customer_unique_id.nunique()

96096

In [10]:
customers_df.customer_id.nunique()

99441

### Orders

In [11]:
check_data(orders_dataset, "order data")

order data information:
--------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
None

Missing values:
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

Duplicated rows:
0

First 2 rows:
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00

In [12]:
columns = ['order_purchase_timestamp', 'order_approved_at', 
           'order_delivered_carrier_date', 'order_delivered_customer_date',
           'order_estimated_delivery_date']

orders_df = transform_datetime(orders_dataset, columns)
orders_df.dtypes

order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
dtype: object

In [13]:
columns = ['order_status']
orders_df = transform_string(orders_df, columns)

In [14]:
orders_df.order_id.nunique()

99441

In [15]:
orders_df.order_status.value_counts()

order_status
Delivered      96478
Shipped         1107
Canceled         625
Unavailable      609
Invoiced         314
Processing       301
Created            5
Approved           2
Name: count, dtype: int64

In [16]:
orders_df.order_status.isna().sum()

np.int64(0)

### Order Items

In [17]:
check_data(order_items_dataset, "Order Item")

Order Item information:
--------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
None

Missing values:
order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

Duplicated rows:
0

First 2 rows:
                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36

   shipping_limit_date  price  freight_value
0  2017-09-19 09:45:35   58.9          13.29
1  2017-05-03 11:05:13  239.9          19.93

In [18]:
columns = ['shipping_limit_date']

order_items_df= transform_datetime(order_items_dataset, columns) 
order_items_df.dtypes

order_id                       object
order_item_id                   int64
product_id                     object
seller_id                      object
shipping_limit_date    datetime64[ns]
price                         float64
freight_value                 float64
dtype: object

In [19]:
columns = ['payment_type']
order_payments_df = transform_string(order_payments_dataset, columns)
order_payments_df.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,Credit Card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,Credit Card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,Credit Card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,Credit Card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,Credit Card,2,128.45

- Left join orders_items_df and order_payments_df

In [20]:
order_items_df = order_items_df.merge(order_payments_df, how='left', on='order_id')

In [21]:
col = order_items_df.pop('shipping_limit_date')
order_items_df['shipping_limit_date'] = col
order_items_df.dtypes

order_id                        object
order_item_id                    int64
product_id                      object
seller_id                       object
price                          float64
freight_value                  float64
payment_sequential             float64
payment_type                    object
payment_installments           float64
payment_value                  float64
shipping_limit_date     datetime64[ns]
dtype: object

In [22]:
order_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117604 entries, 0 to 117603
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              117604 non-null  object
 1   order_item_id         117604 non-null  int64
 2   product_id            117604 non-null  object
 3   seller_id             117604 non-null  object
 4   price                 117604 non-null  float64
 5   freight_value         117604 non-null  float64
 6   payment_sequential    117601 non-null  float64
 7   payment_type          117601 non-null  object
 8   payment_installments  117601 non-null  float64
 9   payment_value         117601 non-null  float64
 10  shipping_limit_date   117604 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(1), object(4)
memory usage: 9.9+ MB

In [23]:
def unique_colomn(df, columns):
    for column in id_columns:
        print(f'unique kolom {column}:\n {df[column].nunique()}')

id_columns = ['order_id', 'order_item_id', 'product_id', 'seller_id']
df_uniq_item_order = unique_colomn(order_items_df, id_columns)

unique kolom order_id:
 98666
unique kolom order_item_id:
 21
unique kolom product_id:
 32951
unique kolom seller_id:
 3095

In [24]:
order_items_df.head()

,order_id,order_item_id,product_id,seller_id,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value,shipping_limit_date
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29,1.0,Credit Card,2.0,72.19,2017-09-19 09:45:35
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93,1.0,Credit Card,3.0,259.83,2017-05-03 11:05:13
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87,1.0,Credit Card,5.0,216.87,2018-01-18 14:48:30
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79,1.0,Credit Card,2.0,25.78,2018-08-15 10:10:18
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14,1.0,Credit Card,3.0,218.04,2017-02-13 13:57:51

In [25]:
duplicates = order_items_df[order_items_df.duplicated(subset=['order_id', 'order_item_id'], keep=False)]
duplicates

,order_id,order_item_id,product_id,seller_id,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value,shipping_limit_date
38,0016dfedd97fc2950e388d2971d718c7,1,4089861a1bd4685da70bddd6b4f974f1,a35124e2d763d7ca3fbe3b97d143200f,49.75,20.80,2.0,Voucher,1.0,17.92,2017-05-05 10:05:12
39,0016dfedd97fc2950e388d2971d718c7,1,4089861a1bd4685da70bddd6b4f974f1,a35124e2d763d7ca3fbe3b97d143200f,49.75,20.80,1.0,Credit Card,5.0,52.63,2017-05-05 10:05:12
80,002f19a65a2ddd70a090297872e6d64e,1,9eae06d51aaa383b2bed5547a19d581c,1835b56ce799e6a4dc4eddc053f04066,53.98,23.31,1.0,Voucher,1.0,44.11,2018-03-27 13:15:27
81,002f19a65a2ddd70a090297872e6d64e,1,9eae06d51aaa383b2bed5547a19d581c,1835b56ce799e6a4dc4eddc053f04066,53.98,23.31,2.0,Voucher,1.0,33.18,2018-03-27 13:15:27
182,0071ee2429bc1efdc43aa3e073a5290e,1,00ffe57f0110d73fd84d162252b2c784,53e4c6e0f4312d4d2107a8c9cddf45cd,179.98,12.46,1.0,Voucher,1.0,100.00,2018-01-26 14:17:41
...,...,...,...,...,...,...,...,...,...,...,...
117441,ffa1dd97810de91a03abd7bd76d2fed1,1,2f178dc91b792930e1ff40a77a123506,75d34ebb1bd0bd7dde40dd507b8169c3,434.99,20.32,1.0,Credit Card,1.0,36.58,2017-06-06 22:42:56
117445,ffa39020fe7c8a3e907320e1bec4b985,1,9e0e152552a1323f7e5dcf63d50cdae3,cc419e0650a3c5ba77189a1882b7556a,56.99,14.15,2.0,Voucher,1.0,64.01,2017-11-10 18:55:13
117446,ffa39020fe7c8a3e907320e1bec4b985,1,9e0e152552a1323f7e5dcf63d50cdae3,cc419e0650a3c5ba77189a1882b7556a,56.99,14.15,1.0,Credit Card,1.0,7.13,2017-11-10 18:55:13
117512,ffc730a0615d28ec19f9cad02cb41442,1,20b4a894367b7b66ea1c5ae7efb5a7eb,9f505651f4a6abe901a56cdc21508025,19.99,7.40,2.0,Credit Card,1.0,12.63,2018-07-27 14:15:15
117513,ffc730a0615d28ec19f9cad02cb41442,1,20b4a894367b7b66ea1c5ae7efb5a7eb,9f505651f4a6abe901a56cdc21508025,19.99,7.40,1.0,Credit Card,1.0,14.76,2018-07-27 14:15:15

In [26]:
sequential_null = order_items_df[order_items_df['payment_sequential'].isna()]
sequential_null

,order_id,order_item_id,product_id,seller_id,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value,shipping_limit_date
88091,bfbd0f9bdef84302105ad712db648a6c,1,5a6b04657a4c5ee34285d1e4619a96b4,ecccfa2bb93b34a3bf033cc5d1dcdc69,44.99,2.83,NaN,NaN,NaN,NaN,2016-09-19 23:11:33
88092,bfbd0f9bdef84302105ad712db648a6c,2,5a6b04657a4c5ee34285d1e4619a96b4,ecccfa2bb93b34a3bf033cc5d1dcdc69,44.99,2.83,NaN,NaN,NaN,NaN,2016-09-19 23:11:33
88093,bfbd0f9bdef84302105ad712db648a6c,3,5a6b04657a4c5ee34285d1e4619a96b4,ecccfa2bb93b34a3bf033cc5d1dcdc69,44.99,2.83,NaN,NaN,NaN,NaN,2016-09-19 23:11:33

In [27]:
order_items_df.dropna(subset=['payment_sequential'], inplace=True)

In [28]:
order_items_df['order_payment_id'] = (order_items_df['order_id'].astype(str) 
                                     + '_' + order_items_df['order_item_id'].astype(str) 
                                     + '_' + order_items_df['payment_sequential'].astype(str))

In [29]:
order_items_df['order_payment_id'].value_counts().sum()

np.int64(117601)

In [30]:
columns = ['order_payment_id']
# n=0
order_items_df = move_column(order_items_df, columns, 0)
order_items_df

,order_payment_id,order_id,order_item_id,product_id,seller_id,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value,shipping_limit_date
0,00010242fe8c5a6d1ba2dd792cb16214_1_1.0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29,1.0,Credit Card,2.0,72.19,2017-09-19 09:45:35
1,00018f77f2f0320c557190d7a144bdd3_1_1.0,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93,1.0,Credit Card,3.0,259.83,2017-05-03 11:05:13
2,000229ec398224ef6ca0657da4fc703e_1_1.0,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87,1.0,Credit Card,5.0,216.87,2018-01-18 14:48:30
3,00024acbcdf0a6daa1e931b038114c75_1_1.0,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79,1.0,Credit Card,2.0,25.78,2018-08-15 10:10:18
4,00042b26cf59d7ce69dfabb4e55b4fd9_1_1.0,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14,1.0,Credit Card,3.0,218.04,2017-02-13 13:57:51
...,...,...,...,...,...,...,...,...,...,...,...,...
117599,fffc94f6ce00a00581880bf54a75a037_1_1.0,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,299.99,43.41,1.0,Boleto,1.0,343.40,2018-05-02 04:11:01
117600,fffcd46ef2263f404302a634eb57f7eb_1_1.0,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,350.00,36.53,1.0,Boleto,1.0,386.53,2018-07-20 04:31:48
117601,fffce4705a9662cd70adb13d4a31832d_1_1.0,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,99.90,16.95,1.0,Credit Card,3.0,116.85,2017-10-30 17:14:25
117602,fffe18544ffabc95dfada21779c9644f_1_1.0,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,55.99,8.72,1.0,Credit Card,3.0,64.71,2017-08-21 00:04:32
117603,fffe41c64501cc87c801fd61db3f6244_1_1.0,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,43.00,12.79,1.0,Credit Card,1.0,55.79,2018-06-12 17:10:13

### Seller

In [32]:
check_data(sellers_dataset, 'seller')

seller information:
--------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB
None

Missing values:
seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

Duplicated rows:
0

First 2 rows:
                          seller_id  seller_zip_code_prefix seller_city  \
0  3442f8959a84dea7ee197c632cb2df15                   13023    campinas
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844  mogi guacu

  seller_state
0           SP
1           SP

In [33]:
columns = ['seller_city']
seller_df = transform_string(sellers_dataset, columns)
seller_df.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,Campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,Mogi Guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,Rio De Janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,Sao Paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,Braganca Paulista,SP

### Products

In [34]:
check_data(products_dataset, 'products')

products information:
--------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
None

Missing values:
product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

Duplicated rows:
0

First 2 rows:
                         product_id product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5            perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                 artes

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0

In [35]:
check_data(product_category_name_translation, 'category product translation')

category product translation information:
--------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB
None

Missing values:
product_category_name            0
product_category_name_english    0
dtype: int64

Duplicated rows:
0

First 2 rows:
    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories

In [36]:
def unique_category():
    print(f'Total unique value in product dataset: {products_dataset['product_category_name'].nunique()}')
    print(f'Total unnique value in product category translation: {product_category_name_translation['product_category_name'].nunique()}')
unique_category()

Total unique value in product dataset: 73
Total unnique value in product category translation: 71

In [37]:
products_df = products_dataset.merge(product_category_name_translation, how='left', on='product_category_name')
products_df

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0,housewares
...,...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0,furniture_decor
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0,construction_tools_lights
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0,bed_bath_table
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0,computers_accessories
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0,bed_bath_table

In [38]:
check_data(products_df, 'products')

products information:
--------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_id                     32951 non-null  object
 1   product_category_name          32341 non-null  object
 2   product_name_lenght            32341 non-null  float64
 3   product_description_lenght     32341 non-null  float64
 4   product_photos_qty             32341 non-null  float64
 5   product_weight_g               32949 non-null  float64
 6   product_length_cm              32949 non-null  float64
 7   product_height_cm              32949 non-null  float64
 8   product_width_cm               32949 non-null  float64
 9   product_category_name_english  32328 non-null  object
dtypes: float64(7), object(3)
memory usage: 2.5+ MB
None

Missing values:
product_id                         0
product_category_name            610
product_name_lenght              610
product_description_lenght       610
product_photos_qty               610
product_weight_g                   2
product_length_cm                  2
product_height_cm                  2
product_width_cm                   2
product_category_name_english    623
dtype: int64

Duplicated rows:
0

First 2 rows:
                         product_id product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5            perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                 artes

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm  \
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0

  product_category_name_english
0                     perfumery
1                           art

Based on data checking, there is some missing values in category. so i replace nan value with "Unknown Category"

In [39]:
columns = [
    'product_category_name', 
    'product_category_name_english'
]

def transform_category(df, columns):
    for column in columns:
        df[column] = df[column].fillna("Unknown Category")
    return df
products_df = transform_category(products_df, columns)

In [40]:
check_data(products_df, 'output products transform')

output products transform information:
--------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_id                     32951 non-null  object
 1   product_category_name          32951 non-null  object
 2   product_name_lenght            32341 non-null  float64
 3   product_description_lenght     32341 non-null  float64
 4   product_photos_qty             32341 non-null  float64
 5   product_weight_g               32949 non-null  float64
 6   product_length_cm              32949 non-null  float64
 7   product_height_cm              32949 non-null  float64
 8   product_width_cm               32949 non-null  float64
 9   product_category_name_english  32951 non-null  object
dtypes: float64(7), object(3)
memory usage: 2.5+ MB
None

Missing values:
product_id                         0
product_category_name              0
product_name_lenght              610
product_description_lenght       610
product_photos_qty               610
product_weight_g                   2
product_length_cm                  2
product_height_cm                  2
product_width_cm                   2
product_category_name_english      0
dtype: int64

Duplicated rows:
0

First 2 rows:
                         product_id product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5            perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                 artes

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm  \
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0

  product_category_name_english
0                     perfumery
1                           art

In [41]:
columns = ['product_description_lenght', 'product_photos_qty', 'product_name_lenght']
products_df = products_df.drop(columns=columns, axis=1)

In [42]:
products_df.columns

Index(['product_id', 'product_category_name', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'product_category_name_english'],
      dtype='object')

In [43]:
columns = [
    'product_category_name', 
    'product_category_name_english'
]

mapping_category = {
    'Pet Shop': 'Pet Product',
    'Office Furniture': 'Furniture',
    'Furniture Bedroom': 'Furniture',
    'Furniture Living Room': 'Furniture',
    'Furniture Mattress And Upholstery': 'Furniture',
    'Furniture Decor': 'Furniture',
    'Kitchen Dining Laundry Garden Furnitur': 'Furniture',
    'Books Imported': 'Book',
    'Books General Interest': 'Book',
    'Books Technical': 'Book',
    'Construction Tools Safety': 'Construction Tools',
    'Construction Tools Lights': 'Construction Tools',
    'Home Construction': 'Construction Tools',
    'Construction Tools Construction': 'Construction Tools',
    'Fashion Bags Accessories': 'Fashion',
    'Fashion Sport': 'Fashion',
    'Fashion Shoes': 'Fashion',
    'Fashio Female Clothing': 'Fashion',
    'Fashion Male Clothing': 'Fashion',
    'Fashion Underwear Beach': 'Fashion',
    'Fashion Male Clothing': 'Fashion',
    'Perfumery': 'Parfume',
    'Home Appliances 2': 'Appliance',
    'Small Appliances': 'Appliance',
    'Small Appliances Home Oven And Coffee': 'Appliance',
    'Home Appliances': 'Appliance',
    'Computers Accessories': 'Electronics',
    'Luggage Accessories': 'Travel',
    'Fashion Bags Accessories': 'Fashion',
    'Fixed Telephony': 'Electronics',
    'Computers': 'Electronics',
    'DvdS Blu Ray': 'Electronics',
    'Tablets Printing Image': 'Electronics',
    'Security And Services': 'Electronics',
    'CDs Dvds Musicals': 'Music',
    'Signaling And Security': 'Electronics',
    'Home Comfort 2': 'Home Product',
    'Home Confort': 'Home Product',
    'Fashion Childrens Clothes': 'Fashion',
    'Market Place': 'Commerce',
    'Industry Commerce And Business': 'Commerce',
    'Agro Industry And Commerce': 'Commerce',
    'Kitchen Dining Laundry Garden Furniture': 'Furniture',
    'Costruction Tools Tools': 'Costruction Tools',
    'Costruction Tools Garden': 'Costruction Tools',
    'Garden Tools': 'Costruction Tools',
    'Air Conditioning': 'Home Product',
    'Bed Bath Table': 'Home Product',
    'Housewares': 'Home Product',
    'Costruction Tools': 'Construction Tools',
    'Musical Instruments': 'Music',
    'Art': 'Arts And Craftmanship',
    'Diapers And Hygiene': 'Hygiene',
    'Telephony': 'Electronics',
    'Consoles Games': 'Electronics'
}

In [44]:
def transform_products(products_df):
    products_df = transform_string(products_df, columns)
    products_df['product_category'] = products_df['product_category_name_english'].map(mapping_category).fillna(products_df['product_category_name_english'])
    return products_df

product_df = transform_products(products_df)

In [45]:
def move_column(df, columns):
    df_temp = df.drop(columns=columns)    
    for col in reversed(columns):
        df_temp.insert(n, col, df[col])
    
    return df_temp
translate_group = ['product_category_name_english', 'product_category']
n=2
product_df = move_column(products_df, translate_group)

In [46]:
product_df = move_column(products_df, translate_group)
product_df.columns

Index(['product_id', 'product_category_name', 'product_category_name_english',
       'product_category', 'product_weight_g', 'product_length_cm',
       'product_height_cm', 'product_width_cm'],
      dtype='object')

In [47]:
product_df = product_df.rename(columns={'product_category_name':'product_name', 'product_category_name_english':'product_name_english'})

In [48]:
products_df['product_category'].unique()

array(['Parfume', 'Arts And Craftmanship', 'Sports Leisure', 'Baby',
       'Home Product', 'Music', 'Cool Stuff', 'Furniture', 'Appliance',
       'Toys', 'Construction Tools', 'Electronics', 'Health Beauty',
       'Travel', 'Costruction Tools', 'Auto', 'Fashion', 'Stationery',
       'Watches Gifts', 'Pet Product', 'Commerce', 'Unknown Category',
       'Book', 'Party Supplies', 'Drinks', 'La Cuisine', 'Audio',
       'Food Drink', 'Food', 'Christmas Supplies', 'Dvds Blu Ray',
       'Cine Photo', 'Hygiene', 'Flowers', 'Cds Dvds Musicals'],
      dtype=object)

In [49]:
product_df.columns

Index(['product_id', 'product_name', 'product_name_english',
       'product_category', 'product_weight_g', 'product_length_cm',
       'product_height_cm', 'product_width_cm'],
      dtype='object')

Output transform dataset:
- customers_df
- orders_df
- order_items_df
- order_reviews_df
- seller_df
- products_df

In [50]:
seller_product = order_items_df[['order_id', 'seller_id']]
seller_product.duplicated().sum()

np.int64(17592)

## Load
load dataframe to database

In [51]:
### Conect to db
from sqlalchemy import create_engine, Column, Integer, String, DateTime, MetaData, ForeignKey, Numeric, Float
from sqlalchemy.orm import declarative_base 
from datetime import datetime
from sqlalchemy import Enum
from sqlalchemy.dialects.postgresql import UUID
import uuid


engine = create_engine('postgresql+psycopg2://postgres:password@localhost:5432/db_ecommers')
Base = declarative_base()

payment_type_enum = Enum('Credit Card', 'Debit Card', 'Boleto', 'Voucher', name='payment_type_enum', create_type=True)
order_status_enum = Enum('Approved', 'Created', 'Processing', 'Invoiced', 'Unavailable', 'Canceled', 'Shipped', 'Delivered',  name='order_status_enum', create_type=True)

class Order(Base):
    __tablename__ = "order_dim"
    order_id = Column(String(40), primary_key=True)
    customer_id = Column(String(40), ForeignKey('customer_dim.customer_id'))
    order_status = Column(order_status_enum)
    order_purchase_timestamp = Column(DateTime)
    order_approved_at = Column(DateTime)
    order_delivered_carrier_date = Column(DateTime)
    order_delivered_customer_date = Column(DateTime)
    order_estimated_delivery_date = Column(DateTime)
    
class Customer(Base):
    __tablename__ = "customer_dim"
    customer_id = Column(String(40), primary_key=True)
    customer_unique_id = Column(String(40))
    customer_zip_code_prefix = Column(Integer)
    customer_city = Column(String(50))
    customer_state = Column(String(2))

class OrderItem(Base):
    __tablename__ = "item_dim"
    order_payment_id = Column(String(40), primary_key=True)
    order_item_id = Column(String(50))
    order_id = Column(String(40), ForeignKey('order_dim.order_id'))
    product_id	= Column(String(40), ForeignKey('product_dim.product_id'))
    seller_id = Column(String(40), ForeignKey('seller_dim.seller_id'))
    price = Column(Numeric(10,2))
    freight_value = Column(Numeric(10,2))
    payment_sequential = Column(Integer) 
    payment_type = Column(payment_type_enum)
    payment_installments = Column(Integer)
    payment_value = Column(Numeric(10,2))
    shipping_limit_date	= Column(DateTime)


class Product(Base):
    __tablename__ = "product_dim"
    product_id =  Column(String(40), primary_key=True)
    product_name = Column(String(100))
    product_name_english = Column(String(100))
    product_category = Column(String(50))
    product_weight_g = Column(Integer)
    product_length_cm = Column(Integer)
    product_height_cm = Column(Integer)
    product_width_cm = Column(Integer)
    
class Seller(Base):
    __tablename__ = "seller_dim"
    seller_id = Column(String(40), primary_key=True)
    seller_zip_code_prefix = Column(String(7))
    seller_city = Column(String(40))
    seller_state = Column(String(2))

class Transaction(Base):
    __tablename__ = 'transaction_orders_fact'
    transaction_id =Column(UUID(as_uuid=True), primary_key=True, default=uuid.uuid4)
    customer_id = Column(String(40), ForeignKey('customer_dim.customer_id'))
    seller_id = Column(String(40), ForeignKey('seller_dim.seller_id'))
    order_id = Column(String(40), ForeignKey('order_dim.order_id'))
    product_id = Column(String(40), ForeignKey('product_dim.product_id'))
    order_payment_id = Column(String(40), ForeignKey('item_dim.order_payment_id'))
    payment_value = Column(Numeric(10,2))
    order_status = Column(order_status_enum)
    order_purchase_timestamp = Column(DateTime)
    order_approved_at = Column(DateTime)
    
### Create the tables in the in-memory database
### checkfirst ini gunanya checking if there any same table?
Base.metadata.create_all(engine, checkfirst=True)
# Print the names of all tables in the database
def print_all_tables(engine):
    metadata = MetaData()
    metadata.reflect(bind=engine)
    
    tables = metadata.tables.keys()
    
    print("List of tables:")
    for table in tables:
        print(table)

#Check all tables database
print_all_tables(engine)

List of tables:
customer_dim
order_dim
item_dim
product_dim
seller_dim
transaction_orders_fact

- customers_df
- orders_df
- order_items_df
- seller_df
- products_df

In [52]:
product_df.to_sql(
    'product_dim', 
    engine, 
    if_exists='append', 
    index=False
)
count = pd.read_sql_query("SELECT COUNT(*) FROM product_dim", engine).iloc[0,0]
count

np.int64(32951)

In [57]:
customers_df.to_sql(
    'customer_dim', 
    engine, 
    if_exists='append', 
    index=False
)
count = pd.read_sql_query("SELECT COUNT(*) FROM customer_dim", engine).iloc[0,0]
count

np.int64(99441)

In [58]:
orders_df.to_sql(
    'order_dim', 
    engine, 
    if_exists='append', 
    index=False
)
count = pd.read_sql_query("SELECT COUNT(*) FROM order_dim", engine).iloc[0,0]
count

np.int64(99441)

In [59]:
seller_df.to_sql(
    'seller_dim', 
    engine, 
    if_exists='append', 
    index=False
)
count = pd.read_sql_query("SELECT COUNT(*) FROM seller_dim", engine).iloc[0,0]
count

np.int64(3095)

In [60]:
order_items_df.to_sql(
    'item_dim', 
    engine, 
    if_exists='append', 
    index=False
)
count = pd.read_sql_query("SELECT COUNT(*) FROM item_dim", engine).iloc[0,0]
count

np.int64(117601)